In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('final_rentanalysis_project11.csv')

In [5]:
df.head()

,Property_title,rent,furnishing,carpet_area,facing,balcony,availability,bathrooms,floors,point_of_contact
0,2 BHK Flat for Rent in Kolte Patil Life Republ...,"₹23,006",Semi-Furnished,910 sqft,East,1.0,Immediately,2,17 out of 22,Contact Agent
1,"2 BHK Flat for Rent in Sinhgad Road, Pune","₹28,000",Semi-Furnished,800 sqft,East,1.0,Immediately,2,2 out of 5,Contact Agent
2,"2 BHK Flat for Rent in Gera World of Joy, Khar...","₹36,000",Unfurnished,740 sqft,East,1.0,Immediately,2,5 out of 7,Contact Agent
3,"3 BHK Flat for Rent in Sacred Heart Town, Wano...","₹45,000",Semi-Furnished,NaN,East,3.0,From Feb '26,3,3 out of 7,Contact Agent
4,"3 BHK Flat for Rent in Ganga Nebula, Viman Nag...","₹65,000",Furnished,1250 sqft,East,2.0,Immediately,3,4 out of 6,Contact Agent

In [ ]:
# bhk
df['BHK'] = df['Property_title'].str.extract(r'(\d+)\s*BHK', expand=False)
df['BHK'] = df['BHK'].astype('Int64')

In [ ]:
df['rent'].unique()

In [ ]:
def clean_rent(value):
    if pd.isna(value):
        return None

    value = value.replace('₹', '').replace(',', '').strip().lower()

    if 'lac' in value:
        num = float(value.replace('lac', '').strip())
        return num * 100000   # convert lac to rupees

    else:
        return float(value)

In [ ]:
df['rent_numeric'] = df['rent'].apply(clean_rent)

In [ ]:
df[['rent', 'rent_numeric']].sample(10)

In [ ]:
df["Property_title"].unique()

In [ ]:
df['property_type'] = df['Property_title'].str.extract(r'BHK\s+(\w+)')

In [ ]:
df['property_type']

In [ ]:
df['locality'] = (
    df['Property_title']
    .str.split(' in ')
    .str[-1]
    .str.replace(', Pune', '', regex=False)
)

In [ ]:
df['locality'].unique()

In [ ]:
df['locality'] = (
    df['locality']
    .str.split(',')
    .str[-1]
    .str.strip()
)

In [ ]:
df['locality']

In [ ]:
df[['BHK', 'locality', 'rent_numeric']].head()

In [ ]:
for title in df['locality']:
   print(title)

In [ ]:
df['floors'].unique()

In [ ]:
df['floor_number'] = df['floors'].str.extract(r'(\d+)').astype(int)

In [ ]:
df['floor_number']

In [ ]:
df["availability"].unique()

In [ ]:
df['availability_type'] = df['availability'].replace({
    'Immediately': 'Immediate',
    "From Feb '26": 'Future'
})

In [ ]:
df['availability_type']

In [ ]:
df["carpet_area"].unique()

In [ ]:
df['carpet_area_sqft'] = (
    df['carpet_area']
    .str.replace('sqft', '', regex=False)
    .str.strip()
    .astype(float)
)

In [ ]:
df['carpet_area_sqft']

In [ ]:
df['balcony'].unique()

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.to_csv("final Rent_Analysis12.csv",index=False)

In [ ]:
df1 = pd.read_csv("final Rent_Analysis12.csv")

In [ ]:
df1